Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/1_instruction_files.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/2_modularized_code.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/3a_python_package.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/3b_answer_python_package.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/4a_binomial_package.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/4b_answer_binomial_package.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/5_exercise_upload_to_pypi.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/workspace.tar
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/*/__pycache__/*
Introduction to Python for AI Programmers/Introduction to Object-Oriented Programming/Workspace/*/*/__pycache__/*
Numpy, Pandas, Matplotlib/Numpy/onana_save.npy
Numpy, Pandas, Matplotlib/Pandas/Pandas Mini-Project/AAPL.csv
Numpy, Pandas, Matplotlib/Pandas/Pandas Mini-Project/AMZN.csv
Numpy, Pandas, Matplotlib/Pandas/Pandas Mini-Project/GOOG.csv
.vscode/settings.json
Introduction to Neural Networks/deep-learning-with-pytorch/Part 2 - Neural Networks in PyTorch (Exercises).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 2 - Neural Networks in PyTorch (Solution).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 3 - Training Neural Networks (Exercises).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 3 - Training Neural Networks (Solution).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 4 - Fashion-MNIST (Exercises).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 4 - Fashion-MNIST (Solution).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 5 - Inference and Validation (Exercises).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 5 - Inference and Validation (Solution).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 6 - Saving and Loading Models.ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 7 - Loading Image Data (Exercises).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 7 - Loading Image Data (Solution).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 8 - Transfer Learning (Exercises).ipynb
Introduction to Neural Networks/deep-learning-with-pytorch/Part 8 - Transfer Learning (Solution).ipynb
.gitignore
